/*====top=======*/
/*======banner=======*/
/*=====nav========*/
body, h1, h2, h3, h4, h5, h6, a, p, input, img, ul, ol, li, dl, dt, dd, html {
  padding: 0;
  margin: 0;
}

html, body {
  background-color: #f6f6f6;
}

body {
  font-family: "microsoft yahei";
  color: #555555;
  font-size: 12px;
}

ul, ol {
  list-style: none;
}

li {
  float: left;
}

a {
  text-decoration: none;
  color: #555555;
  float: left;
}
a:hover {
  color: #f00;
}

img {
  border: 0;
}

/*====top=======*/
/*======banner=======*/
/*=====nav========*/
/*====top=======*/
/*======banner=======*/
/*=====nav========*/
.l {
  float: left;
}

.r {
  float: right;
}

.w {
  margin: 0 auto;
  width: 1000px;
}

img {
  border-style: none;
}

.floor-top {
  height: 38px;
}

.floor-bot {
  margin-bottom: 40px;
}

.bgleft {
  width: 3px;
  height: 38px;
  float: left;
  background: url(../img/home/bgleft.png) no-repeat;
}

.bgmid {
  width: 975px;
  height: 29px;
  padding-left: 8px;
  padding-top: 9px;
  padding-right: 11px;
  background: url(../img/home/bgmid.png) repeat-x;
  float: left;
}

.bgright {
  width: 3px;
  height: 38px;
  float: left;
  background: url(../img/home/bgright.png) no-repeat;
}

.hbgleft {
  width: 1px;
  height: 27px;
  background: url(../img/home/hbgleft.png) no-repeat;
}

.hbgmid {
  width: 137px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  font-size: 18px;
  background: url(../img/home/hbgmid.png);
  color: #FFFFFF;
}

.hbgright {
  width: 1px;
  height: 27px;
  margin-right: 12px;
  background: url(../img/home/hbgleft.png) no-repeat;
}

.floor-li {
  height: 27px;
  line-height: 27px;
  padding-left: 6px;
  padding-right: 6px;
}

.floor-li-border {
  height: 27px;
  line-height: 31px;
}

.floor-li-span {
  width: 100px;
  height: 27px;
  line-height: 27px;
}

.floor-dl {
  width: 303px;
  height: 324px;
  border: 1px solid #CCCCCC;
  padding-top: 9px;
  padding-left: 15px;
  background-color: #FFFFFF;
  float: left;
  margin-bottom: 20px;
  margin-right: 20px;
}

.floor-dl-last {
  width: 303px;
  height: 324px;
  border: 1px solid #CCCCCC;
  padding-top: 9px;
  padding-left: 15px;
  background-color: #FFFFFF;
  float: left;
  margin-bottom: 20px;
}

.floor-dt {
  width: 290px;
  height: 294px;
}

.floor-dt-h3 a {
  width: 290px;
  height: 55px;
  line-height: 25px;
  text-overflow: ellipsis;
  word-break: keep-all;
  overflow: hidden;
}

.floor-dt-span {
  width: 288px;
  height: 237px;
  float: left;
  border: 1px solid #fcdf8e;
}

.dt-span-a {
  width: 288px;
  height: 190px;
  background: url(../img/home/qiuji.png) no-repeat;
}

.dt-span-p {
  width: 280px;
  height: 37px;
  padding-top: 9px;
  padding-left: 8px;
  border-top: 1px solid #fcdf8e;
  float: left;
  background: url(../img/home/pbg.png) repeat-x;
}

.dt-span-p b {
  float: left;
  width: 100px;
  height: 37px;
  color: #ef340b;
  font-size: 27px;
}
.dt-span-p b i {
  font-style: normal;
  font-size: 20px;
  color: #ef340b;
  font-weight: bold;
}

.dt-span-p a {
  width: 68px;
  height: 29px;
  text-align: center;
  line-height: 29px;
  font-size: 19px;
  border: 1px solid #ff7f3f;
  border-radius: 2px;
  background-color: #ffa472;
  color: #fff;
  margin-right: 12px;
  float: right;
}

.floor-dd {
  width: 288px;
  height: 30px;
}
.floor-dd p {
  width: 96px;
  height: 30px;
  line-height: 30px;
}
.floor-dd p i {
  font-style: normal;
  text-decoration: line-through;
}
.floor-dd p b {
  font-weight: 600;
  color: #d41f2b;
}

.touch {
  width: 154px;
  height: 24px;
  border: 1px solid #ffffff;
  background-color: #f7f7f7;
}
.touch span {
  width: 47px;
  height: 24px;
  line-height: 24px;
  float: left;
}

.floor-border {
  height: 36px;
  line-height: 38px;
}

.floor-click {
  height: 36px;
  line-height: 36px;
}

.log-left {
  width: 445px;
  height: 659px;
}

.log-left-top {
  width: 445px;
  height: 90px;
}

.log-left-bot {
  width: 401px;
  height: 535px;
  border: 1px solid #f9f8fa;
  border-radius: 2px;
  padding: 16px 21px;
}

.sub {
  width: 150px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #f68721;
  margin-left: 100px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

#service {
  width: 98px;
  height: 197px;
  position: fixed;
  right: 0;
  top: 200px;
  border: 1px solid #f1b6c6;
}

.service-one {
  width: 93px;
  height: 25px;
  padding-top: 5px;
  padding-left: 5px;
  border-bottom: 1px solid #F1B6C6;
}
.service-one span {
  width: 28px;
  height: 21px;
  background: url(../img/home/bg45.jpg) no-repeat;
  background-position: 0 0;
  float: left;
}

.service-two {
  width: 88px;
  height: 156px;
  padding: 5px;
}
.service-two a {
  width: 88px;
  height: 21px;
  line-height: 21px;
  text-align: center;
  border-bottom: 1px dashed #F1B6C6;
}
.service-two .line {
  width: 65px;
  padding-left: 15px;
  height: 21px;
  color: #FFFFFF;
  background: url(../img/home/bg45.jpg) no-repeat;
  background-position: -28px 0;
  border: none;
  margin: 10px;
}
.service-two p {
  width: 68px;
  height: 32px;
  padding: 10px;
  border-top: 1px dashed #F1B6C6;
  color: #F68721;
  float: left;
}
.service-two span {
  width: 78px;
  height: 33px;
  padding: 5px;
  color: #26890f;
  text-align: center;
  float: left;
  border-top: 1px dashed #F1B6C6;
}

.service-three {
  width: 97px;
  height: 26px;
  border: 1px solid #e1e1e1;
  border-top: none;
  background-color: #ededed;
  line-height: 26px;
  text-align: center;
}
.service-three span {
  float: left;
  width: 23px;
  height: 21px;
  background: url(../img/home/bg45.jpg) no-repeat;
  background-position: -108px 0;
}

/*====top=======*/
/*======banner=======*/
/*=====nav========*/
#top {
  width: 100%;
  min-width: 1000px;
  height: 27px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #dcdcdc;
}
#top .top-left {
  width: 400px;
  height: 27px;
  line-height: 27px;
}
#top .top-left ul {
  width: 400px;
  height: 27px;
  line-height: 27px;
}
#top .top-right {
  width: 488px;
  height: 27px;
}
#top .top-right ul {
  width: 488px;
  height: 27px;
}

#top .top-left ul li {
  height: 27px;
  line-height: 27px;
}
#top .top-left ul li.li-one {
  width: 120px;
}
#top .top-left ul li.li-two {
  padding-left: 10px;
  width: 90px;
}
#top .top-left ul li.li-three {
  width: 48px;
  padding: 0 10px;
}
#top .top-left ul li.li-five {
  width: 50px;
  padding-left: 20px;
  padding-right: 27px;
  background: url(../img/home/xiasan.png) no-repeat 88px 11px;
  cursor: pointer;
}
#top .top-left ul li.li-five:hover a {
  color: #f00;
}

#top .top-right ul li {
  height: 27px;
  line-height: 27px;
}
#top .top-right ul li.li-one {
  width: 86px;
  padding-left: 22px;
  background: url("../img/home/dianhua.png") no-repeat 7px 7px;
}
#top .top-right ul li.li-two {
  width: 97px;
  padding-left: 29px;
  background: url("../img/home/shopping.png") no-repeat 6px 4px;
}
#top .top-right ul li.li-two a span {
  color: #ff9000;
  font-weight: bold;
}
#top .top-right ul li.li-three {
  width: 81px;
  padding-left: 16px;
  background: url("../img/home/xiasan.png") no-repeat 73px 11px;
  cursor: pointer;
}
#top .top-right ul li.li-four {
  width: 54px;
  padding-left: 21px;
  background: url("../img/home/xing.png") no-repeat 6px 8px;
  cursor: pointer;
}
#top .top-right ul li.li-five {
  width: 53px;
  padding-left: 21px;
  background: url("../img/home/jia.png") no-repeat 6px 9px;
  cursor: pointer;
}

#stairs {
  width: 100px;
  height: 500px;
  left: 0;
  border: 1px solid #F1B6C6;
  position: fixed;
  display: none;
}
#stairs li {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #F1B6C6;
  position: relative;
}
#stairs li span {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #F1B6C6;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
#stairs .active {
  color: #FFFFFF;
  display: block;
  background-color: palevioletred;
}
#stairs li.hover span {
  background-color: red;
  color: #FFFFFF;
  display: block;
}

#banner {
  min-width: 1000px;
  width: 100%;
  height: 126px;
  background-color: #990000;
}
#banner .w {
  height: 126px;
}
#banner .w h1 {
  width: 187px;
  height: 112px;
  margin-top: 11px;
}
#banner .w .btn {
  width: 55px;
  height: 28px;
  margin-left: 27px;
  margin-top: 50px;
  border: 1px solid #cccccc;
  border-radius: 2px;
  background-color: #ffffff;
}
#banner .w .quality {
  width: 256px;
  height: 64px;
  margin-left: 57px;
  margin-top: 35px;
  overflow: hidden;
}
#banner .w .search {
  width: 354px;
  height: 66px;
  margin-right: 6px;
  margin-top: 30px;
  overflow: hidden;
}

#tags {
  width: 261px;
  height: 43px;
  border: none;
}

#banner .w .btn {
  position: relative;
}
#banner .w .btn b {
  width: 49px;
  height: 28px;
  line-height: 28px;
  padding-left: 8px;
  font-size: 16px;
  color: #333333;
  font-weight: normal;
  float: left;
  background: url("../img/home/xiasan.png") no-repeat 43px 12px;
}
#banner .w .btn .ads-more {
  position: absolute;
  left: 0;
  top: 49px;
  width: 460px;
  height: 196px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fbfbfb;
  z-index: 10;
  display: none;
}
#banner .w .btn .ads-more span {
  float: left;
  width: 50px;
  height: 19px;
  line-height: 19px;
}
#banner .w .btn .ads-more span.pinyin {
  float: left;
  width: 24px;
  height: 55px;
  margin-left: 8px;
  margin-right: 11px;
  line-height: 23px;
}
#banner .w .btn .ads-more button {
  float: right;
}
#banner .w .btn .ads-more .ads-bot {
  width: 438px;
  height: 159px;
  background-color: #FFFFFF;
  border: 1px solid #ccc;
  padding: 5px 10px;
  float: left;
  margin-top: 6px;
}
#banner .w .btn .ads-more .ads-bot ul {
  width: 438px;
  height: 97px;
}
#banner .w .btn .ads-more .ads-bot ul li {
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin-left: 8px;
  margin-right: 11px;
}
#banner .w .btn .ads-more .ads-bot ul li.ads-li {
  width: 24px;
  height: 24px;
  line-height: 24px;
}
#banner .w .btn .ads-more .ads-bot ul.ads-pinyin {
  width: 395px;
  height: 24px;
  border-bottom: 1px solid #ccc;
  float: right;
}
#banner .w .btn .ads-more .ads-bot ul.ads-pinyin li {
  width: 17px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  margin: 0;
}
#banner .w .btn .ads-more .ads-bot ul.ads-pinyin li.ads-active {
  width: 17px;
  height: 24px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-bottom: none;
  color: #c12323;
  border-radius: 3px;
}
#banner .w .btn .ads-more .ads-bot .ads-city {
  width: 395px;
  height: 32px;
  float: right;
}
#banner .w .btn .ads-more .ads-bot .ads-city p {
  display: none;
}
#banner .w .btn .ads-more .ads-bot .ads-city p a {
  line-height: 32px;
  padding-right: 19px;
}
#banner .w .btn .ads-more .ads-bot .ads-city p.city-active {
  display: block;
}

#banner .w .quality dl {
  float: left;
  padding-left: 12px;
  overflow: hidden;
  width: 72px;
  height: 64px;
}
#banner .w .quality dl dt span {
  display: block;
  margin-left: 9px;
  overflow: hidden;
  width: 34px;
  height: 38px;
}
#banner .w .quality dl dt span.span-left {
  background: url("../img/home/xuebi.png") no-repeat;
  background-position: 0 -128px;
}
#banner .w .quality dl dt span.span-mid {
  background: url("../img/home/xuebi.png") no-repeat;
  background-position: 0 -184px;
}
#banner .w .quality dl dt span.span-right {
  background: url("../img/home/xuebi.png") no-repeat;
  background-position: 0 -240px;
}
#banner .w .quality dl dd p {
  width: 72px;
  height: 26px;
  line-height: 26px;
  color: #ffffff;
}
#banner .w .quality .border {
  float: left;
  width: 1px;
  height: 64px;
  line-height: 64px;
  background: url("../img/home/xuebi.png") no-repeat;
  background-position: 0 -283px;
}

#banner .w .search .search-top {
  width: 354px;
  height: 43px;
}
#banner .w .search .search-top .left {
  width: 9px;
  height: 43px;
  background: url("../img/home/searchleft.png") no-repeat;
}
#banner .w .search .search-top .mid {
  width: 261px;
  height: 43px;
  background: url("../img/home/searchmid.png") repeat-x;
}
#banner .w .search .search-top .middle {
  width: 74px;
  height: 43px;
}
#banner .w .search .search-top .right {
  width: 10px;
  height: 43px;
  background: url("../img/home/searchright.png") no-repeat;
}
#banner .w .search .search-btm {
  width: 354px;
  height: 23px;
}
#banner .w .search .search-btm a {
  margin-right: 14px;
  display: block;
  overflow: hidden;
  color: #fe9501;
  height: 23px;
  line-height: 23px;
}
#banner .w .search .search-btm a:hover {
  color: #f00;
}

#banner .w .search .search-top .mid #txt {
  border: none;
  overflow: hidden;
  width: 261px;
  height: 43px;
  line-height: 43px;
  font-size: 14px;
}
#banner .w .search .search-top .middle #btn {
  border: none;
  background: url(../img/home/red.png) repeat-x;
  font-size: 25px;
  color: #fbefef;
  overflow: hidden;
  width: 74px;
  height: 43px;
  line-height: 43px;
  cursor: pointer;
}

#nav {
  min-width: 1000px;
  width: 100%;
  height: 40px;
  background-color: #262626;
}
#nav .w {
  position: relative;
}
#nav .w .nav-show {
  width: 968px;
  height: 97px;
  padding: 11px 15px;
  border: 1px solid #CCCCCC;
  position: absolute;
  left: 0;
  top: 50px;
  background-color: #FFFFFF;
  overflow: hidden;
}
#nav .w .nav-show .nav-show-top {
  width: 968px;
  height: 26px;
  overflow: hidden;
}
#nav .w .nav-show .nav-show-mid {
  width: 968px;
  height: 44px;
  overflow: hidden;
}
#nav .w .nav-show .nav-show-bot {
  width: 968px;
  height: 26px;
  overflow: hidden;
}
#nav .w .nav-show span {
  float: left;
  width: 60px;
  height: 26px;
  line-height: 19px;
  color: #999999;
  overflow: hidden;
}
#nav .w .nav-show li.border {
  line-height: 22px;
}
#nav .w .nav-show li.left {
  height: 20px;
  color: #333333;
  line-height: 20px;
  padding-left: 7px;
  padding-right: 3px;
  overflow: hidden;
}
#nav .w .nav-show li.left a {
  color: #333333;
}

.click li {
  padding-left: 15px;
  padding-right: 15px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  overflow: hidden;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
}
.click li a {
  color: #ffffff;
}

#carousel {
  height: 563px;
  overflow: hidden;
  margin-top: 146px;
}
#carousel .carousel-show {
  width: 1000px;
  height: 563px;
  position: relative;
  overflow: hidden;
}

.carousel-show img {
  width: 100%;
  height: 100%;
}

#xd {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

#xd span {
  display: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

#xd span:hover {
  color: #069;
}

.xd1 {
  color: #eee;
}

.xd2 {
  color: #069;
}

#content {
  margin-top: 40px;
  background-color: #f6f6f6;
  padding-bottom: 80px;
  overflow: hidden;
}
#content .floor-span a {
  height: 27px;
  line-height: 27px;
  color: #ea592d;
  overflow: hidden;
}
#content .floor-bot {
  padding-top: 15px;
  overflow: hidden;
}

#feet {
  height: 130px;
  padding-top: 23px;
  padding-bottom: 20px;
  background: url(../img/home/feetbg.png) repeat-x;
  border-top: 1px solid #f7f7f7;
  overflow: hidden;
}
#feet ul {
  width: 184px;
  height: 130px;
  border-right: 1px solid #e9e1e8;
  float: left;
  overflow: hidden;
}
#feet ul li {
  width: 117px;
  height: 22px;
  padding-left: 67px;
  line-height: 22px;
  background: url(../img/home/dian.png) no-repeat 59px 10px;
  overflow: hidden;
}
#feet ul li.li-h3-first {
  width: 110px;
  height: 36px;
  line-height: 36px;
  padding-left: 74px;
  overflow: hidden;
  background: url(../img/home/xuebi.png) no-repeat;
  background-position: 44px -333px;
  overflow: hidden;
}
#feet ul li.li-h3-second {
  width: 110px;
  height: 36px;
  line-height: 36px;
  padding-left: 74px;
  overflow: hidden;
  background: url(../img/home/xuebi.png) no-repeat;
  background-position: 44px -368px;
  overflow: hidden;
}
#feet ul li.li-h3-three {
  width: 110px;
  height: 36px;
  line-height: 36px;
  padding-left: 74px;
  overflow: hidden;
  background: url(../img/home/xuebi.png) no-repeat;
  background-position: 44px -402px;
  overflow: hidden;
}
#feet ul li.li-h3-four {
  width: 110px;
  height: 36px;
  line-height: 36px;
  padding-left: 74px;
  overflow: hidden;
  background: url(../img/home/xuebi.png) no-repeat;
  background-position: 44px -432px;
  overflow: hidden;
}
#feet ul.ul-last {
  width: 173px;
  height: 130px;
  padding-left: 32px;
  padding-right: 46px;
  overflow: hidden;
}
#feet ul.ul-last li {
  padding: 0;
}
#feet ul.ul-last li.li-last-first {
  height: 35px;
  width: 157px;
  padding-left: 27px;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  background: url(../img/home/xuebi.png) no-repeat;
  background-position: 0 -462px;
  overflow: hidden;
}
#feet ul.ul-last li.li-last-first span {
  width: 65px;
  height: 35px;
  line-height: 35px;
  font-size: 11px;
}
#feet ul.ul-last li.li-last-second {
  height: 35px;
  line-height: 35px;
  width: 157px;
  padding-left: 15px;
  font-size: 17px;
  color: #999999;
  overflow: hidden;
}
#feet ul.ul-last li.li-last-three {
  width: 158px;
  margin-left: 13px;
  height: 26px;
  border: 1px solid #e9e1e8;
  overflow: hidden;
}
#feet ul.ul-last li.li-last-four {
  width: 158px;
  margin-left: 13px;
  height: 31px;
  text-align: center;
  overflow: hidden;
}

#floor {
  height: 36px;
  background: url(../img/home/botbg.png) repeat-x;
  overflow: hidden;
}
#floor .w ul {
  margin-left: 270px;
}
#floor .w ul .floor-click a {
  padding-left: 11px;
  padding-right: 11px;
  overflow: hidden;
}

#bottom {
  height: 140px;
  background-color: #f7f7f7;
  overflow: hidden;
}
#bottom p {
  width: 1000px;
  text-align: center;
  height: 46px;
  line-height: 46px;
  overflow: hidden;
}
#bottom p span {
  color: #555555;
}
#bottom i {
  margin-left: 268px;
}

/*# sourceMappingURL=index.css.map */
