@import "main","index";
#login{
    @include login-block;
    .w{
        .log-left{
            .log-left-top{
                h2{
                    float: left;
                }
                p{
                    float: right;
                    width: 143px;
                    height: 31px;
                    line-height: 31px;
                    color: #FFFFFF;
                    background-color: #555555;
                    margin-top: 45px;
                    border-radius: 30px;
                    text-align: center;
                    font-size: 14px;
                    a{
                        color: #fffaa8;
                        float: none;
                    }
                }
            } 
        }
    }
}  
.log-left-top h2 a{
    width: 170px;
    height:67px;
    background: url(../img/login/login.png) no-repeat;
    
}
.log-left-bot form{
    width: 402px;
    height:413px;
    p{
        width: 402px;
        height: 38px;
        line-height: 38px;
        margin-bottom: 22px;
        border-bottom: 1px solid #FFFFFF;
        span{
            color: #d4303c;
            font-size: 17px;
            margin-right: 5px;
        }
    }
    dl{
        width: 348px;
        height: 58px;
        dt{
            float: left;
            width: 85px;
            padding-right: 15px;
            text-align: right;
            height: 36px;
            line-height: 36px;
            margin-bottom: 22px;
            font-size: 14px;
            color: #555555;
        }
        dd{
            float: left;
            width:248px;
            height: 58px;
            input{
                width: 246px;
                height: 34px;
                border: 1px solid #e5e3e5;
                border-radius: 3px;
            }
            i{
                float: left;
              width: 248px;
              height: 21px;
              line-height: 21px;
              color: #d21522;  
            }
        }
        
    }
    b{
            
            float: left;
            width: 302px;
            height: 38px;
            line-height: 38px;
            padding-left: 100px;
//          text-align: center;
            margin-bottom: 5px;
            input{
                margin-top: 13px;
                float: left;
            }
            span{
                width: 202px;
                height: 38px;
                line-height: 38px;
                float: left;
            }
            a{
                float: none;
                color: #d41f2b;
            }
    }
    
}
.login-bot{
    width: 400px;
    height: 118px;
    border-top: 1px solid #FFFFFF;
    p{
        width: 400px;
        height: 33px;
        line-height: 33px;
        color: #000000;
    }
    a{
        width: 87px;
        height: 26px;
        margin-left: 9px;
        margin-bottom: 9px;
    }
}
.log-right{
    
    float: left;
    img{
        margin-left: 80px;
        margin-top: 150px;
    }
} 