$font-sm-base:    12px!default;
$font-sx-base:    14px!default;
$font-md-base:    16px!default;
$font-lg-base:    25px!default;
$body-font-color:  #555555!default;
$body-font-family: "microsoft yahei"!default;
$center-width:     1000px!default;
$cursor-pointer: pointer!default;
$body-base-width:100%!default;
/*====top=======*/
$top-width:       100%!default;
$top-height:      27px!default;
$top-border-color:#dcdcdc!default;
$top-border-sz:   1px!default;
$top-border-style:solid!default;
$topBackColor:    #f5f5f5!default;
$top-ahover-color:#f00!default;
$top-span-color:  #ff9000!default;
$top-span-weight: bold!default;
$top-leftbox-width: 400px!default;
$top-left-oneW:    120px!default;
$top-left-twoP: 10px!default;
$top-left-twoW:    90px!default;
$top-left-threeP:10px!default;
$top-left-threeW:48px!default;
$top-left-fiveW: 50px!default;
$top-left-fivePl: 20px!default;
$top-left-fivePr: 27px!default;
$top-rightbox-width:488px!default;
$top-right-oneW: 86px!default;
$top-right-oneP: 22px!default;
$top-right-twoP: 29px!default;
$top-right-twoW: 97px!default;
$top-right-threeW:81px!default;
$top-right-threeP:16px!default;
$top-right-fourW: 54px!default;
$top-right-fourP: 21px!default;
$top-right-fiveW: 53px!default;
/*======banner=======*/
$banner-height:   126px!default;
$banner-backColor:#990000!default;
$banner-h1Width:  187px!default;
$banner-h1Height: 112px!default;
$banner-h1MarginT:11px!default;
$banner-btnWidth: 55px!default;
$banner-btnHeight:28px!default;
$banner-btnMarginL:27px!default;
$banner-btnMarginT:50px!default;
$banner-btnborderSty:solid!default;
$banner-btnborderWidth:1px!default;
$banner-btnborderColor:#cccccc!default;
$banner-btnborderRadius:2px!default;
$banner-btnBackColor:#ffffff!default;
$banner-btnPP: 8px!default;
$banner-btnPColor: #333333!default;
$banner-qualityW:256px!default;
$banner-qualityH:64px!default;
$banner-qualityT:35px!default;
$banner-qualityL:57px!default;
$banner-quality-dlW:72px!default;
$banner-quality-dlH:64px!default;
$banner-quality-dlP:12px!default;
$quality-dl-dtSpanW:34px!default;
$quality-dl-dtSpanH:38px!default;
$quality-dl-dtSpanML:9px!default;
$quality-dd-pWidth: 72px!default;
$quality-dd-pHeight:26px!default;
$quality-dd-pColor:#ffffff!default;
$quality-borWidth:1px!default;
$banner-searchWidth:354px!default;
$banner-searchHeight:66px!default;
$banner-searchMargRig:6px!default;
$banner-searchMargtop:30px!default;
$search-topHeight:43px!default;
$search-topWidth:354px!default;
$search-backLeft-width:9px!default;
$search-backLeft-height:43px!default;
$search-backmid-width:261px!default;
$search-backmiddle-width:74px!default;
$search-backright-width:10px!default;
$search-btnColor:#fbefef!default;
$search-btmHeight:23px!default;
$search-aMargin:14px!default;
$search-aColor:#fe9501!default;
/*=====nav========*/
$nav-height:  40px!default;
$nav-backColor:#262626!default;

$nav-li-padding:15px!default;
$nav-li-color:#ffffff!default;
$nav-liClick-color:#000000!default;

























